#pfp{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.header-img{
    height: 50px;
    width: 50px;
}
#dino{
    height: 40px;
    width: 40px;
}
.sigmar-regular{
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.outfit{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
 #titles{
    font-family: "Lilita One", sans-serif;
}
.info{
    font-family: "Outfit", sans-serif;
}
.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  button{
    font-family: "Outfit", sans-serif;
  }